.env
.DS_Store
*.pyc
/venv
jsons.zip

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*